{%  extends 'base.html.twig' %}

{%  form_theme form _self %}
{% block title %}
    Création d'une annonce
{% endblock %}
{% form_theme form _self %}
{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Creer une annonce</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block _ad_yes_widget %}{#yes == images #}
    <p>Ici, ajouter vos propres formulaire</p>

    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>

{% endblock %}

{% block _ad_yes_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_yes_entry_widget %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_widget(form.url) }}
            </div>
            <div class="col">
                {{ form_widget(form.caption) }}
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $('#add-image').click(function () {
            //je recupere le numero des futurs champs que je vais creer
            const  index = $('#ad_yes div.form-group').length;
            // je recupere le prototype des entrees
            const tmpl = $('#ad_yes').data('prototype').replace(/__name__/g,index);
            //j'injecte ce code au sein de la div
            $('#ad_yes').append(tmpl);
            console.log(tmpl);
        });
    </script>
{% endblock %}

